<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Fabcar Tutorials</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Fabcar Tutorials</a>
      <button
        class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">/a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-5" src="/images/avataaars.svg" alt="" />
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Fabcar Tutorials</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Enjoy Your Hyperledger Fabric Projects!!</p>
    </div>
  </header>
  <!-- Section-->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <!-- Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Try it yourself</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Grid Items-->
      <div class="row justify-content-center">
        <!-- Item 1-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#modal1">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Query All Cars</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/cabin.png" alt="" />
          </div>
        </div>
        <!-- Item 2-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#modal2">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Query Car</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/cake.png" alt="" />
          </div>
        </div>
        <!-- Item 3-->
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#modal3">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Create Car</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/circus.png" alt="" />
          </div>
        </div>
        <!-- Item 4-->
        <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#modal4">
            <div
              class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Change Car Owner</div>
            </div>
            <img class="img-fluid" src="/images/portfolio/game.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Your Website 2020</small></div>
  </div>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
        class="fa fa-chevron-up"></i></a>
  </div>
  <!-- Modals-->
  <!-- Modal 1-->
  <div class="portfolio-modal modal fade" id="modal1" tabindex="-1" role="dialog"
    aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal1Label">Query All Cars</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Query All Cars Button -->
                <div class="form-group text-center">
                  <button class="btn btn-primary btn-xl" id="btnQueryAllCars">Query All Cars</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="resultQueryAllCars"></p>
                </div>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 2-->
  <div class="portfolio-modal modal fade" id="modal2" tabindex="-1" role="dialog"
    aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal2Label">Query Car</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Query Car InputBox, Button -->
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-5 pb-2">
                    <label>Car Number</label>
                    <input class="form-control text-center" id="txtCarNoQueryCar" type="text"
                      placeholder="Car Number" required="required"
                      data-validation-required-message="Please enter car number." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnQueryCar">Query Car</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="resultQueryCar"></p>
                </div>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 3-->
  <div class="portfolio-modal modal fade" id="modal3" tabindex="-1" role="dialog"
    aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal3Label">Create Car</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Create Car InputBox, Button -->
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Car Number</label>
                    <input class="form-control text-center" id="txtCarNoCreateCar" type="text"
                      placeholder="Car Number" required="required"
                      data-validation-required-message="Please enter car number." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Make</label>
                    <input class="form-control text-center" id="txtMakeCreateCar" type="text"
                      placeholder="Make" required="required"
                      data-validation-required-message="Please enter car maker." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Model</label>
                    <input class="form-control text-center" id="txtModelCreateCar" type="text"
                      placeholder="Model" required="required"
                      data-validation-required-message="Please enter car model." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Colour</label>
                    <input class="form-control text-center" id="txtColourCreateCar" type="text"
                      placeholder="Colour" required="required"
                      data-validation-required-message="Please enter car colour." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-5 pb-2">
                    <label>Owner</label>
                    <input class="form-control text-center" id="txtOwnerCreateCar" type="text"
                      placeholder="Owner" required="required"
                      data-validation-required-message="Please enter car owner." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnCreateCar">Create Car</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="resultCreateCar"></p>
                </div>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 4-->
  <div class="portfolio-modal modal fade" id="modal4" tabindex="-1" role="dialog"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal4Label">Change Car Owner</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Change Car Owner InputBox, Button -->
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Car Number</label>
                    <input class="form-control text-center" id="txtCarNoChangeCarOwner" type="text"
                      placeholder="Car Number" required="required"
                      data-validation-required-message="Please enter car number." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group text-center">
                  <div class="form-group floating-label-form-group controls mb-5 pb-2">
                    <label>Car Owner</label>
                    <input class="form-control text-center" id="txtOwnerChangeCarOwner" type="text"
                      placeholder="Car Owner" required="required"
                      data-validation-required-message="Please enter car owner." />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-xl" id="btnChangeCarOwner">Change Car
                    Owner</button>
                </div>
                <!-- Result Area -->
                <div class="text-center">
                  <p id="resultChangeCarOwner"></p>
                </div>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 5-->
  <div class="portfolio-modal modal fade" id="modal5" tabindex="-1" role="dialog"
    aria-labelledby="modal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal5Label">Locked Safe</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Modal - Image-->
                <img class="img-fluid rounded mb-5" src="/images/portfolio/safe.png" alt="" />
                <!-- Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                  assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                  velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                </p>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 6-->
  <div class="portfolio-modal modal fade" id="modal6" tabindex="-1" role="dialog"
    aria-labelledby="modal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  id="modal6Label">Submarine</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Modal - Image-->
                <img class="img-fluid rounded mb-5" src="/images/portfolio/submarine.png" alt="" />
                <!-- Modal - Text-->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                  assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                  velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                </p>
                <button class="btn btn-primary" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Core theme JS-->
  <script src="/javascripts/scripts.js"></script>
  <script>
    $(function () {
      // Query All Cars
      $('#btnQueryAllCars').click(async () => {
        const result = await fetch('/api/cars');
        const json = await result.json();
        let table = '<table class="table-car"><thead><tr><th>Key</th><th>Make</th><th>Model</th><th>Colour</th><th>Owner</th></tr></thead><tbody>';
        for(let i = 0; i < json.length; i++) {
          table += '<tr>';
          table += `<td>${json[i].Key}</td>`;
          table += `<td>${json[i].Record.make}</td>`;
          table += `<td>${json[i].Record.model}</td>`;
          table += `<td><font color="${json[i].Record.colour}">${json[i].Record.colour}</td>`;
          table += `<td>${json[i].Record.owner}</td>`;
          table += '</tr>';
        }
        table += '</tbody></table>'
        $('#resultQueryAllCars').html(table);
      });
      
      // Highlight row
      $('.table-car tbody tr').hover(() => {
        $('.table-car tbody tr').removeClass('active-row');
        $(this).addClass('active-row');
      });

      // Query Car
      $('#btnQueryCar').click(async () => {
        const carNo = $('#txtCarNoQueryCar').val();

        if(!carNo) {
          $('#resultQueryCar').html(`<font color="red">Please enter your car number.</font>`);
          return;
        }
        
        const result = await fetch(`/api/cars/${carNo}`);

        if(!result.ok) {
          $('#resultQueryCar').html(`<font color="red">Unable to query car with <b>${carNo}</b>.</font>`);
          return;
        }

        const json = await result.json();
        
        let table = '<table class="table-car"><thead><tr><th>Make</th><th>Model</th><th>Colour</th><th>Owner</th></tr></thead><tbody>';
        table += '<tr>';
        table += `<td>${json.make}</td>`;
        table += `<td>${json.model}</td>`;
        table += `<td><font color="${json.colour}">${json.colour}</font></td>`;
        table += `<td>${json.owner}</td>`;
        table += '</tr>';
        table += '</tbody></table>'
        $('#resultQueryCar').html(table);
        // $('#resultQueryCar').html(`Unable to query car with ${carNo}`);
      });

      // Create Car
      $('#btnCreateCar').click(async () => {
        const body = {
          carNo: $('#txtCarNoCreateCar').val(),
          make: $('#txtMakeCreateCar').val(),
          model: $('#txtModelCreateCar').val(),
          colour: $('#txtColourCreateCar').val(),
          owner: $('#txtOwnerCreateCar').val()
        }
        const result = await fetch('/api/cars', {
          method: 'POST',
          body: JSON.stringify(body),
          headers: { 'Content-Type': 'application/json' }
        });
        const json = await result.json();
        $('#resultCreateCar').html(json.msg);
      });

      // Change Car Owner
      $('#btnChangeCarOwner').click(async () => {
        const carNo = $('#txtCarNoChangeCarOwner').val();
        const result = await fetch(`/api/cars/${carNo}`, {
          method: 'PUT',
          body: JSON.stringify({ owner: $('#txtOwnerChangeCarOwner').val() }),
          headers: { 'Content-Type': 'application/json' }
        });
        const json = await result.json();
        $('#resultChangeCarOwner').html(json.msg);
      });
    });
  </script>
</body>

</html>